@{
    ViewData["Title"] = "Office";
}
@model IEnumerable<Office> 

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Owner Surname</th>
            <th>Owner Name</th>
            <th>Owner Middlename</th>
            <th>Street Name</th>
            <th>Mobile Phone</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var office in Model)
        {
                <tr>
                    <td>@office.OwnerSurname</td>
                    <td>@office.OwnerName</td>
                    <td>@office.OwnerMiddlename</td>
                    <td>@office.StreetName</td>
                    <td>@office.MobilePhone</td>
                    <td>@office.Email</td>
                </tr>
        }
    </tbody>
</table>