@{
    ViewData["Title"] = "Employee";
}
@model IEnumerable<Employee> 

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Surname</th>
            <th>Name</th>
            <th>Middlename</th>
            <th>Position</th>
            <th>Office</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
                <tr>
                    <td>@employee.Surname</td>
                    <td>@employee.Name</td>
                    <td>@employee.Middlename</td>
                    <td>@employee.Position.Position</td>
                    <td>@employee.Office.StreetName</td>
                </tr>
        }
    </tbody>
</table>