@using Laba4.ViewModels

@model PublicationTypeIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index">
    <div>
        <label>Тип публикации: </label>
        <input name="type" value="@Model.StandardPublicationType"/><br />

        <input type="submit" value="Фильтр" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PublicationTypes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    @if (Model.PageViewModel.HasPreviousPage)
    {
                                <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.PageNumber - 1)" class="glyphicon glyphicon-chevron-left">
                                    Назад
                                </a>
    }

    @if (Model.PageViewModel.HasNextPage)
    {
                                <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.PageNumber + 1)" class="glyphicon glyphicon-chevron-right">
                                    Вперед
                                </a>
    }
</p>