@using Laba4.ViewModels.Filters.FilterModel
@using Laba4.ViewModels.Sort
@using PostCity.ViewModels
@using PostCity.ViewModels.Filters

@model PageViewModel<Publication, PublicationFilterModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
@if(User.IsInRole("Admin")){
        <p>
        <a asp-action="Create">Create New</a>
    </p>
    <p>
        <a asp-action="Index" asp-controller="PublicationTypes">Types</a>
    </p>
}

<script>
    function clearForm() {
        document.getElementById("nameFilter").value = "";
        document.getElementById("typeFilter").value = "";
        document.getElementById("priceFilter").value = "";
    }
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="card">
                <div class="card-header">
                    Filters
                </div>
                <div class="card-body">
                    <form asp-action="Index" method="post">
                        <div class="mb-2">
                            <label for="nameFilter" class="form-label">Name:</label>
                            <input asp-for="@Model.FilterModel.Name" id="nameFilter" name="Name" class="form-control form-control-sm" /><br />
                        </div>
                        <div class="mb-2">
                            <label for="typeFilter" class="form-label">Type:</label>
                            <input asp-for="@Model.FilterModel.Type" id="typeFilter" name="Type" class="form-control form-control-sm" /><br />
                        </div>
                        <div class="mb-2">
                            <label for="priceFilter" class="form-label">Price:</label>
                            <input asp-for="@Model.FilterModel.Price" id="priceFilter" name="Price" class="form-control form-control-sm" type="number" step="0.01" />
                        </div>

                        <button type="submit" class="btn btn-primary">Apply Filters</button><br />
                        <a href="#" onclick="clearForm()">Clear Fields</a>
                    </form>
                </div>
            </div>
        </div>
    <div class="col-md-10">
        <table class="table">
            <thead>
                <tr>
                    <th>
                                <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">
                                @if (ViewBag.NameSort == PublicationSortState.NameAsc)
                                {
                                            <p>Name ↑</p>
                                }
                                else
                                {
                                            <p>Name ↓</p>
                                }
                                </a>
                            </th>
                            <th>
                                <a asp-action="Index" asp-route-sortOrder="@ViewBag.PriceSort">
                                @if (ViewBag.PriceSurname == PublicationSortState.PriceAsc)
                                {
                                                <p>Price ↑</p>
                                }
                                else
                                {
                                                <p>Price ↓</p>
                                }
                                </a>
                            </th>
                            <th>
                                <a asp-action="Index" asp-route-sortOrder="@ViewBag.TypeSort">
                                @if (ViewBag.TypeSort == PublicationSortState.TypeAsc)
                                {
                                            <p>Type ↑</p>
                                }
                                else
                                {
                                            <p>Type ↓</p>
                                }
                                </a>
                            </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Items) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price) руб.
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type.Type)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
            }
                </tbody>
            </table>

        <p>
                @if (Model.HasPreviousPage)
                {
                                    <a asp-action="Index"
                           asp-route-page="@(Model.PageNumber - 1)" class="glyphicon glyphicon-chevron-left">
                                        Назад
                                    </a>
                }

                @if (Model.HasNextPage)
                {
                                    <a asp-action="Index"
                           asp-route-page="@(Model.PageNumber + 1)" class="glyphicon glyphicon-chevron-right">
                                        Вперед
                                    </a>
                }
        </p>        
        </div>
    </div>
</div>